@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@media only screen and (min-width: 769px) { /*for computer*/
    body{
        background-color: rgb(240, 236, 227);
    }

    .center{
        text-align: center;
    }

    #container {/*留白*/
        padding-top:1.5%;
        padding-left:3%;
        padding-right:3%;
        padding-bottom:4%;
        border: 6.25% solid 000000;
    }
    /*#706666*/
    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 312.5%;
        font-weight: 500;
        color: #706666;
        margin-bottom: 0;
        font-weight: bold;
    }

    font{
        font-size: 180%;
        color: rgb(89, 110, 121);
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        color: rgb(89, 110, 121);
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
    }

    b{
        color: #706666; 
        font-size: 90%; 
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    hr{
        background-color:rgb(223, 211, 195); 
        height:3px; 
        border:none;
    }

    input[type="text"]{
        padding:0.5% 1.5%; 
        border:3px rgb(89, 110, 121) solid;
        background-color: rgb(255, 251, 241);
        /*cursor:pointer;*/
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    }

    input[type="button"]{
        padding:5px 15px; 
        background:rgb(199, 177, 152); 
        color: rgb(255, 251, 241);
        border:0 none;
        cursor:pointer;
        font-size: 1.3rem;
        -webkit-border-radius: 5px;
        border-radius: 8px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    .nn{
        padding: 0.5% 0%;
    }
    .nnn{
        padding-right: 0.5%;
    }
    .rr{
        padding: 0.5% 0% 2%;
    }
    .rrr{
        padding-right: 1%;
    }
    .col-example{
        background-position: center;
        transition-property: opacity;
        color: black;
        position: relative;
        justify-content: center;
        display: flex;
        width: 100%;
        height:100%;
    }
    
    .col-example::after{
        content: "";
        position:absoulte;
        background: rgba(221, 27, 27, 0);
        background-size: cover;
        background-position: center;
        width: 100%;
        height:100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    nav > ul {
        background-color: rgba(255, 255, 255, 0);
        color: rgb(89, 110, 121);
        font-family: 'Poppins', sans-serif;
        list-style: none; /* 移除項目符號 */
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0;
    }

    nav a {
        color: inherit; /*超連結顏色*/
        text-decoration: none; /*超連結底線*/
        display: block; /*整條都可以超連結*/
        font-size: 1.3rem; /*字大小*/
        padding: 20px; /*行距*/
        
    }

    nav a:hover {
        background-color: rgb(199, 177, 152);
        color: rgb(255, 255, 255);
    }

    .flex-nav {
        display: flex;
        justify-content: center;
    }

    footer{
        padding-top: 2em;
        padding-bottom: 1.2em;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: 0px;
        margin-bottom: -50px;
        color: #ffffff
    }
}
@media only screen and (max-width: 769px) { 
    body{
        background-color: rgb(240, 236, 227);
    }
    
    .center{
        text-align: center;
    }
    
    #container {/*留白*/
        padding-top:1.5%;
        padding-left:3%;
        padding-right:3%;
        padding-bottom:4%;
        border: 6.25% solid 000000;
      }
    /*#706666*/
    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
        font-weight: 500;
        color: #706666;
        margin-bottom: 0;
        font-weight: bold;
    }
    
    font{
        font-size: 120%;
        color: rgb(89, 110, 121);
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        color: rgb(89, 110, 121);
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
    }

    a{
        font-size: 65%;
    }

    b{
        color: #706666; 
        font-size: 80%; 
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }
    
    hr{
        background-color:rgb(223, 211, 195); 
        height:3px; 
        border:none;
    }
    
    input[type="text"]{
        padding:0.5% 1.5%; 
        border:3px rgb(89, 110, 121) solid;
        background-color: rgb(255, 251, 241);
        /*cursor:pointer;*/
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    }
    
    input[type="button"]{
        padding: 1.5% 3.5%; 
        background:rgb(199, 177, 152); 
        color: rgb(255, 251, 241);
        border:0 none;
        cursor:pointer;
        font-size: 1.3rem;
        -webkit-border-radius: 5px;
        border-radius: 8px;
        font-family: 'Noto Sans TC', sans-serif;
    }
    .nn{
        padding: 0.5% 0%;
    }
    .nnn{
        padding-right: 2%;
    }
    .rr{
        padding: 2% 0% 8%;
    }
    .rrr{
        padding-right: 4%;
    }
    .col-example{
        background-position: center;
        transition-property: opacity;
        color: black;
        position: relative;
        justify-content: center;
        display: flex;
        width: 100%;
        height:100%;
    }
      
    .col-example::after{
        content: "";
        position:absoulte;
        background: rgba(221, 27, 27, 0);
        background-size: cover;
        background-position: center;
        width: 100%;
        height:100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    
    nav > ul {
        background-color: rgba(255, 255, 255, 0);
        color: rgb(89, 110, 121);
        font-family: 'Poppins', sans-serif;
        list-style: none; /* 移除項目符號 */
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0;
    }
    
    nav a {
        color: inherit; /*超連結顏色*/
        text-decoration: none; /*超連結底線*/
        display: block; /*整條都可以超連結*/
        font-size: 100%; /*字大小*/
        padding: 3.5%; /*行距*/
        
    }
    
    nav a:hover {
        background-color: rgb(199, 177, 152);
        color: rgb(255, 255, 255);
    }
    
    footer{
        padding-top: 2em;
        padding-bottom: 1.2em;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: 0px;
        margin-bottom: -50px;
        color: #ffffff
    }
}