body{
    background-color: rgb(58, 58, 58);
}

.center{
    text-align: center;
}

.col-example{
    background-position: center;
    transition-property: opacity;
    color: rgb(0, 0, 0);
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    height:100%;
}
  
.col-example::after{
    content: "";
    position:absoulte;
    background: rgba(212, 203, 203, 0);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

nav > ul {
    background-color: rgba(255, 255, 255, 0);
    list-style: none;   /* 移除項目符號 */
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0;
}

nav a {
    color: inherit; /*超連結顏色*/
    text-decoration: none; /*超連結底線*/
    display: block; /*整條都可以超連結*/
    font-size: 5.5vmin; /*字大小*/
    padding: 20px;/*行距*/
    
}

nav a:hover {
    background-color: rgb(240, 203, 38);
    color: black;
}

.flex-nav {
    display: flex;
    justify-content: center;
}

pre {
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(199, 176, 176);
    line-height: normal;
    margin-bottom: 1.5m;
    padding-top: 0%;
    padding-bottom: 3%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    overflow: auto;
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    margin-left: 5%;
}
.annotation{
    color: rgb(141, 140, 140);
}