@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html {
    scroll-behavior: smooth;
}
@media only screen and (min-width: 769px) {
    .menu{
        padding-top: 3%;
    }
    #rightBar {
        z-index: 9999;
        width: 50px;
        position: fixed;
        right: 50px;
        bottom: 5%;
        height: auto;
    }
    
    #rightBar .btn {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 20px;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }
    /*for computer*/
    ul {
        /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul.drop-down-menu {
        border: #ccc 1px solid;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 120%;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }

    ul.drop-down-menu a {
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;
    }

    ul.drop-down-menu a:hover {
        /* 滑鼠滑入按鈕變色*/
        background-color: rgb(240, 203, 38);
        color: #fff;
    }

    ul.drop-down-menu li:hover>a {
        /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: rgb(240, 203, 38);
        color: #fff;
    }

    ul.drop-down-menu ul {
        border: #ccc 1px solid;
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
        
    }
    
    ul.drop-down-menu ul {
        /*隱藏次選單*/
        display: none;
    }

    ul.drop-down-menu li:hover>ul {
        /* 滑鼠滑入展開次選單*/
        display: block;
    }

    body {
        background-color: rgb(58, 58, 58);
    }

    .center {
        text-align: center;
    }

    .col-example {
        background-position: center;
        transition-property: opacity;
        color: rgb(0, 0, 0);
        position: relative;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .col-example::after {
        content: "";
        position: absoulte;
        background: rgba(212, 203, 203, 0);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h1 {
        font-family: 'Lobster', cursive;
        color: rgb(240, 203, 38);
        font-size: 350%;
        font-weight: 500;
        text-align: center;
    }

    nav>ul {
        background-color: rgba(255, 255, 255, 0);
        list-style: none;
        /* 移除項目符號 */
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0;
    }

    nav a {
        color: inherit;
        /*超連結顏色*/
        text-decoration: none;
        /*超連結底線*/
        display: block;
        /*整條都可以超連結*/
        font-size: 170%;
        /*字大小*/
        padding: 20px;
        /*行距*/
        font-family: 'Lobster', cursive;
        font-weight: 400;
    }

    nav a:hover {
        background-color: rgb(240, 203, 38);
        color: black;
    }

    .flex-nav {
        display: flex;
        justify-content: center;
    }

    pre {
        margin-left: 5%;
        margin-right: 5%;
        /*background: rgb(199, 176, 176);*/
        line-height: normal;
        padding-top: 0%;
        padding-bottom: 3%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        overflow: auto;
        max-width: 100%;
    }

    code {
        /*font-family: 'Azeret Mono', monospace;*/
        font-size: 130%;
    }
    .pic{
        margin-left: 5%;
        padding-left: 0.5%;
        padding-bottom: 3%;
        width: 60%;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    .ll{
        font-size: 100%;
        display:inline;
    }
    p {
        margin-left: 5.5%;
        font-weight: 550;
        color: rgb(236, 179, 179);
        font-size: 180%;
        font-family: 'Poppins', sans-serif;
    }

    .annotation {
        color: rgb(141, 140, 140);
    }
}
@media only screen and (max-width: 769px) {
    .menu{
        padding-top: 3%;
    }
    #rightBar {
        z-index: 9999;
        width: 5%;
        position: fixed;
        right: 15%;
        bottom: 1.5%;
        height: auto;
    }
    
    #rightBar .btn {
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 20%;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
    }
    /*for computer*/
    ul {
        /* 取消ul預設的內縮及樣式 */
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul.drop-down-menu {
        border: #ccc 1px solid;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 80%;
    }

    ul.drop-down-menu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }

    ul.drop-down-menu a {
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;
    }

    ul.drop-down-menu a:hover {
        /* 滑鼠滑入按鈕變色*/
        background-color: rgb(240, 203, 38);
        color: #fff;
    }

    ul.drop-down-menu li:hover>a {
        /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: rgb(240, 203, 38);
        color: #fff;
    }

    ul.drop-down-menu ul {
        border: #ccc 1px solid;
        position: absolute;
        z-index: 99;
        left: -1px;
        top: 100%;
        
    }
    
    ul.drop-down-menu ul {
        /*隱藏次選單*/
        display: none;
    }

    ul.drop-down-menu li:hover>ul {
        /* 滑鼠滑入展開次選單*/
        display: block;
    }

    body {
        background-color: rgb(58, 58, 58);
    }

    .center {
        text-align: center;
    }

    .col-example {
        background-position: center;
        transition-property: opacity;
        color: rgb(0, 0, 0);
        position: relative;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .col-example::after {
        content: "";
        position: absoulte;
        background: rgba(212, 203, 203, 0);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h1 {
        font-family: 'Lobster', cursive;
        color: rgb(240, 203, 38);
        font-size: 200%;
        text-align: center;
        font-weight: 500;
    }

    .ll{
        font-size: 65%;
        display:inline;
    }

    nav>ul {
        background-color: rgba(255, 255, 255, 0);
        list-style: none;
        /* 移除項目符號 */
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding: 0;
    }

    nav a {
        color: inherit;
        /*超連結顏色*/
        text-decoration: none;
        /*超連結底線*/
        display: block;
        /*整條都可以超連結*/
        font-size: 105%; /*字大小*/
        padding: 3.5%; /*行距*/
        font-family: 'Lobster', cursive;
        font-weight: 400;
    }

    nav a:hover {
        background-color: rgb(240, 203, 38);
        color: black;
    }


    pre {
        margin-left: 5%;
        margin-right: 5%;
        /*background: rgb(199, 176, 176);*/
        line-height: normal;
        padding-top: 0%;
        padding-bottom: 3%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        overflow: auto;
        max-width: 100%;
    }

    code {
        /*font-family: 'Azeret Mono', monospace;*/
        font-size: 100%;
    }

    .pic{
        display: none;
    }

    a {
        color: inherit;
        color: rgb(236, 179, 179);
        text-decoration: none;
    }

    p {
        margin-left: 5.5%;
        font-weight: 550;
        color: rgb(236, 179, 179);
        font-size: 120%;
        font-family: 'Poppins', sans-serif;
    }

}
/*!
  Theme: Equilibrium Light
  Author: Carlo Abelli
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#43474e;background:#f5f0e7}.hljs ::selection,.hljs::selection{background-color:#d8d4cb;color:#43474e}.hljs-comment{color:#73777f}.hljs-tag{color:#5a5f66}.hljs-operator,.hljs-punctuation,.hljs-subst{color:#43474e}.hljs-operator{opacity:.7}.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable{color:#d02023}.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_{color:#bf3e05}.hljs-class .hljs-title,.hljs-title,.hljs-title.class_{color:#9d6f00}.hljs-strong{font-weight:700;color:#9d6f00}.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__{color:#637200}.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp{color:#007a72}.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property{color:#0073b5}.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type{color:#4e66b6}.hljs-emphasis{color:#4e66b6;font-style:italic}.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string{color:#c42775}.hljs-meta .hljs-keyword,.hljs-meta-keyword{font-weight:700}